a {
    text-decoration: none;
}

i{
    font-size: 30px;
}

.container-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-section-description {
    background-color: #6E07F3;
    color: #FFFFFFFF;
}

.container-section-description-info {
    margin-top: 150px;
    margin-bottom: 150px;

}

.skill-info-secondary {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-section-skills {
    background-color: #6E07F3;
    padding-bottom: 50px;

}

.skills-info-container {
    background-color: #ffffff;

}

.about-me{
}

.contact{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #e8e8e8;
    border-radius: 15px;
}

.copyright{
    padding-top: 50px;
    color: #ffffff;

}

.copyright img{
    width: 50px;
}

.social-icons-item{
    color: #fffde9;
}

footer{
    color: #fffde9;
    background-color: #6E07F3;
    padding: 200px;
}